@tailwind base;
@tailwind components;
@tailwind utilities;

.form-label {
  @apply block text-[#111827] font-semibold mb-1;
}

.form-input {
  @apply w-full border rounded-lg p-3 bg-gray-50 
         focus:bg-white focus:ring-2 focus:ring-[#0B8A42]
         outline-none transition;
}

